:root
{
    --azul-enpro: #11A0CF;
    --amarelo-enpro: #F5B005;
    --laranja-avermelhado-enpro: #D63908;
    --verde-enpro: #9AD03C;
    --gradiente: #04001D;
}

*,
*::after,
*::before{
    box-sizing: border-box;
}

body{
    margin: 0;
    font-family: "Poppins", sans-serif;
    background: var(--gradiente);
}

.wrapper{
    max-width: 1134px;
    margin: 0 auto;
}

/* buttons */

.btn{
    padding: 16px 32px;
    border-radius: 24px;
    color: #fff;
    display: inline-block;
    font-weight: bold;
    font-size: 16px;
    text-decoration: none;
    position: relative;
}

.btn.dark{
    background: var(--gradiente);
}

.btn.light{
    background: var(--azul-enpro);
}

.btn.enrol-icon::before{
    content: url(/images/enrol-icon.svg);
    position: absolute;
    top: 50%;
    left: 32px;
    transform: translateY(-50%);
}

.btn.enrol-icon{
    padding-left: 60px;
}

/* Header */

header{
    background: var(--gradiente);
    height: 100vh;
    width: 100%;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    width: 1134px;
    top: 36px;
    z-index: 100;
}

nav .logo {
    display: inline-block;
    vertical-align: middle;
}


nav .logo img{
vertical-align: middle;
padding: 15px;
}


nav .logo a {
    color: #FFF;
    font-family: "Saira Condensed", sans-serif;
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    line-height: 90%; /* 27px */
    text-transform: uppercase;
    text-decoration: none;
}
    

nav ul{
    display: flex;
    align-items: center;
    gap: 60px;
    list-style: none;
    margin: 0;
}

nav ul li a{
    font-family: "Poppins", sans-serif;
    font-weight: bold;
    font-size: 16px;
    color: #fff;
    text-decoration: none;
}

.social-media {
    gap: 20px;
}

/* Hero section */

.hero-section{
    display: flex;
    height: 100vh;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    padding-top: 60px;
}

.hero-section .left h1{
    color: #FFF;
    font-family: "Saira Condensed", sans-serif  ;
    font-size: 80px;
    font-weight: normal;
    line-height: 100%;
    margin-bottom: 0;
    text-transform: uppercase;
}

.hero-section .left h1 span {
    color: var(--azul-enpro);

}

.hero-section .left p{
    color:  #FFF;
    font-family: "Inter", sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 130%; /* 23.4px */
}

.hero-section .left .barra-p {
    border-left: 4px solid var(--azul-enpro); /* Cor e largura da barra esquerda */
    padding-left: 10px; /* Espaço entre a barra e o texto do parágrafo */
}

.hero-section .left .mini-menu ul{
    margin-top: 40px;
} 

.hero-section .left .mini-menu ul li {
    display: flexbox;
    vertical-align: middle;
    margin-bottom: 10px;
}

.hero-section .left .mini-menu ul li a{
    color:#FFF;
    font-family: "Inter", sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 130%;
    text-decoration: none;
}

.hero-section .left .mini-menu ul li img {
    vertical-align: middle; /* Alinha verticalmente a imagem com o texto do link */
    max-width: 100%; /* Garanta que a imagem não seja maior do que o contêiner */
    height: auto; /* Mantenha a proporção original da imagem */
}

.hero-section .left .mini-menu ul {
    list-style: none;
}

.hero-section .left{
    flex: 1;
}

.hero-section .right {
    align-self: flex-end;
}

.hero-section .right img {
    width: 450px;
    height: 450px;
    flex-shrink: 0;
    transform: translateY(-50px);
}


/* Achievement cards */

.achievement-card {
    position: absolute;
    min-width: 200px;
}

.achievement-card .content{
    border-radius: 24px;
    background: #fff;
    padding: 8px 32px;
    z-index: 10;
    position: relative;
}

.achievement-card.students-enrolled {
    left: 49%;
    top: 270px;
}

.achievement-card.overall-rating {
    left: 47%;
    top: 470px;
}

.achievement-card .content div{
    display: flex;
    align-items: center;
    gap: 12px;
}

.achievement-card h3{
    font-family: "Poppins", sans-serif;
    font-weight: bold;
    font-size: 36px;
    color: var(--dark-blue-color);
    margin: 0;
    text-align: center;
    width: 100%;
}

.achievement-card p{
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    font-weight: normal;
    color: var(--dark-blue-color);
    margin-top: -8;
    margin-bottom: 8px;
}

.achievement-card .bg{
    position: absolute;
    height: 100%;
    width: 100%;
    background: linear-gradient(180deg, #6f7dfb 0%, #3b488f 100%);
    border-radius: 24px;
    top: 8px;
    left: 8px;
    z-index: 1;
}


/* Our Services Section */

.carousel-container {
    overflow: hidden;
    max-width: 100%;
  }
  
  .carousel {
    display: flex;
    overflow: hidden;
    width: 100%;
    transition: transform 0.3s ease-in-out;
  }
  
  .card {
    flex: 0 0 33.33%; /* Garante que três cards apareçam na mesma linha */
    text-align: center;
    padding: 20px;
    box-sizing: border-box;
    background-color: #f5f5f5; /* Cor de fundo dos cards */
    margin: 10px;
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  .card img {
    max-width: 100%;
    height: auto;
  }
  
  .card h2 {
    margin: 10px 0;
  }
  
  .card p {
    margin-bottom: 20px;
  }
  
  .card a {
    display: inline-block;
    padding: 10px 20px;
    background-color: #007bff; /* Cor do botão "Saiba Mais" */
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
  }
  
  .prev, .next {
    background-color: #007bff; /* Cor dos botões de navegação */
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .prev {
    margin-right: 10px;
  }
  



