:root {
    --azul-enpro: #11A0CF;
    --amarelo-enpro: #F5B005;
    --laranja-avermelhado-enpro: #D63908;
    --verde-enpro: #9AD03C;
    --gradiente: #04001D;
}

*,
*::after,
*::before {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: "Poppins", sans-serif;
    background: var(--gradiente);
}

.wrapper {
    max-width: 1134px;
    margin: 0 auto;
}

/* buttons */

.btn {
    padding: 16px 32px;
    border-radius: 24px;
    color: #fff;
    display: inline-block;
    font-weight: bold;
    font-size: 16px;
    text-decoration: none;
    position: relative;
}

.btn.dark {
    background: var(--gradiente);
}

.btn.light {
    background: var(--azul-enpro);
}

.btn.enrol-icon::before {
    content: url(/images/enrol-icon.svg);
    position: absolute;
    top: 50%;
    left: 32px;
    transform: translateY(-50%);
}

.btn.enrol-icon {
    padding-left: 60px;
}

/* Header */

header {
    background: var(--gradiente);
    height: 100vh;
    width: 100%;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    width: 100%;
    height: 75px;
    z-index: 100;
    background: var(--gradiente);
    left: 0;
    box-shadow: #000;
}

nav .logo {
    display: flex;
    vertical-align: middle;
    padding-left: 50px;
    align-items: center;
}


nav .logo img {
    padding-right: 15px;
    vertical-align: middle;
}


nav .logo a {
    color: #FFF;
    font-family: "Saira Condensed", sans-serif;
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    line-height: 90%;
    /* 27px */
    text-transform: uppercase;
    text-decoration: none;
}


nav ul {
    display: flex;
    align-items: center;
    gap: 60px;
    list-style: none;
    margin: 0;
}

nav ul li a {
    font-family: "Poppins", sans-serif;
    font-weight: bold;
    font-size: 16px;
    color: #fff;
    text-decoration: none;
}

.social-media {
    gap: 20px;
    padding-right: 50px;
}

/* Hero section */

.hero-section {
    display: flex;
    height: 100vh;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    padding-top: 60px;
}

.hero-section .left h1 {
    color: #FFF;
    font-family: "Saira Condensed", sans-serif;
    font-size: 80px;
    font-weight: normal;
    line-height: 100%;
    margin-bottom: 0;
    text-transform: uppercase;
}

.hero-section .left h1 span {
    color: var(--azul-enpro);

}

.hero-section .left p {
    color: #FFF;
    font-family: "Inter", sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 130%;
    /* 23.4px */
}

.hero-section .left .barra-p {
    border-left: 4px solid var(--azul-enpro);
    /* Cor e largura da barra esquerda */
    padding-left: 10px;
    /* Espaço entre a barra e o texto do parágrafo */
}

.hero-section .left .mini-menu ul {
    margin-top: 40px;
}

.hero-section .left .mini-menu ul li {
    display: flex;
    vertical-align: middle;
    margin-bottom: 10px;
    align-items: center;
}

.hero-section .left .mini-menu ul li a {
    color: #FFF;
    font-family: "Inter", sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 130%;
    text-decoration: none;
}

.hero-section .left .mini-menu ul li img {
    vertical-align: middle;
    /* Alinha verticalmente a imagem com o texto do link */
    max-width: 100%;
    /* Garanta que a imagem não seja maior do que o contêiner */
    height: auto;
    padding-right: 12px;
    /* Mantenha a proporção original da imagem */
}

.hero-section .left .mini-menu ul {
    list-style: none;
}

.hero-section .left {
    flex: 1;
    text-align: left;
}

.hero-section .right {
    flex: 1;
    text-align: right;
}

.hero-section .right img {
    width: 450px;
    height: 450px;
}


/* Achievement cards */

.achievement-card {
    position: absolute;
    min-width: 200px;
}

.achievement-card .content {
    border-radius: 24px;
    background: #fff;
    padding: 8px 32px;
    z-index: 10;
    position: relative;
}

.achievement-card.students-enrolled {
    left: 49%;
    top: 270px;
}

.achievement-card.overall-rating {
    left: 47%;
    top: 470px;
}

.achievement-card .content div {
    display: flex;
    align-items: center;
    gap: 12px;
}

.achievement-card h3 {
    font-family: "Poppins", sans-serif;
    font-weight: bold;
    font-size: 36 px;
    color: var(--dark-blue-color);
    margin: 0;
    text-align: center;
    width: 100%;
}

.achievement-card p {
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    font-weight: normal;
    color: var(--dark-blue-color);
    margin-top: -8;
    margin-bottom: 8px;
}

.achievement-card .bg {
    position: absolute;
    height: 100%;
    width: 100%;
    background: linear-gradient(180deg, #6f7dfb 0%, #3b488f 100%);
    border-radius: 24px;
    top: 8px;
    left: 8px;
    z-index: 1;
}


/* Our Services Section */

.our-services-card-section .our-services-title {
    color: var(--Amarrelo-enpro, #F5B005);
    text-align: center;
    font-family: "Inter", sans-serif;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: 130%;
    /* 4.0625rem */
}

.primeiro-carousel-container,
.segundo-carousel-container {
    overflow: hidden;
    max-width: 100%;
    position: relative;

}


.carousel {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.primeiro-card,
.segundo-card {
    position: relative;
    flex: 0 0 calc(33.33% - 20px);
    /* Garante que três primeiro-cards apareçam na mesma linha */
    text-align: left;
    padding: 20px;
    box-sizing: border-box;
    background-color: #f5f5f5;
    /* Cor de fundo dos primeiro-cards */
    margin: 10px;
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.segundo-card img,
.primeiro-card img {
    max-width: 315px;
    height: 175px;
    object-fit: fill;
    border-radius: 10px;
}

.segundo-card h2,
.primeiro-card h2 {
    margin: 10px 0;
    font-size: 20px
}

.segundo-card p,
.primeiro-card p {
    margin-bottom: 45px;
    font-size: 14px;
}

.segundo-card a,
.primeiro-card a {
    display: inline-flex;
    padding: 10px 20px;
    background-color: none;
    /* Cor do botão "Saiba Mais" */
    color: #000;
    text-decoration: none;
    text-align: left;
}

.prev,
.next {
    /* Cor dos botões de navegação */
    border: none;
    border-radius: 5px;
    cursor: pointer;
    max-width: 100%;
    /* Defina a largura máxima para 100% do contêiner */
    max-height: 40px;
    /* Defina a altura máxima desejada */
    margin: 0 10px;
    transition: transform 0.2s ease;
}

.next:hover,
.prev:hover {

    transform: scale(1.1);
}

.prev {
    margin-right: 10px;
}

.saibamais {
    position: absolute;
    bottom: 0;
    right: 1%;
    display: flex;
    padding-bottom: 5px;
    flex-direction: column;
    align-items: flex-end;
}

.saibamais a {
    color: #222;
    font-family: "Inter", sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    /* 171.429% */
}

.pagination {
    text-align: center;
    display: flex;
    align-items: center;
}

.dot {
    width: 12px;
    height: 12px;
    background-color: #ccc;
    border-radius: 50%;
    display: inline-block;
    margin: 0 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    transition: transform 0.2s ease;
}

.dot:hover {
    transform: scale(1.2);
}

.dot.active {
    background-color: #007bff;
}

.carrossel-nav {
    display: flex;
    align-items: center;
    justify-content: center;
    /* Centraliza horizontalmente */
    height: 100px;
    /* Defina a altura desejada */
}

/* inicio cases section */
.qr-cases-section {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.qr-code-card {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    gap: 23px;
    width: 350px;
    height: 350px;
    background-color: white;
    position: relative;
    border-radius: 30px;

}

#qr-code-logo-enpro {
    position: absolute;
    top: 0;
    transform: translateY(-50%);
}

.qr-code-card p {
    padding-top: 50px;
}

.qr-cases-text p {
    color: #FFF;
    font-family: "Saira Condensed", sans-serif;
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    line-height: 130%;
    /* 41.6px */
    width: 554px;
    height: 322px;
    flex-shrink: 0;
}


.cases-section {
    display: flex;
    height: 100vh;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    padding-top: 60px;
}

.vertical-carousel {
    display: flex;
    align-items: center;
    background-color: white;
}

.right .carrossel-nav {
    display: flex;
    flex-direction: column;
}

.cases-section .left h2 {
    color: var(--Amarrelo-enpro, #F5B005);
    text-align: left;
    font-family: "Inter", sans-serif;
    font-size: 50px;
    font-style: normal;
    font-weight: 700;
    line-height: 130%;

    /* 65px */
}


.cases-section .left p {
    color: white;
    text-align: left;
    box-sizing: border-box;
    width: 442px;
}

#saibamais-cases {
    text-align: end;
}

#end-qr {
    width: 381px;
}

.cases-section .right {
    color: white;
    display: flex;
}

.content h2 {
    color: #222;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: -0.048px;
}

.content p {
    color: #333;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    /* 150% */
}

/*FOOTER*/


footer {
    padding: 50px;
    background-color: #222;
}

footer ul {
    list-style: none;
    padding-left: 0;
}

.footer-stuff {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.wrapper .app-section h2 {
    font-weight: 600;
    font-size: 17px;
    color: #FFF;
    font-family: "Sans-Serif Collection", sans-serif;
    font-size: 50px;
    font-style: normal;
    font-weight: 400;
    line-height: 0%;
    text-transform: uppercase;
    margin: 0;
}

.wrapper .app-section h2 span {
    color: #FFF;
    font-family: "Souliyo Unicode", sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 100%;
    letter-spacing: 19.5px;
    text-transform: uppercase;
}

.wrapper .app-section .logo-rodape {
    display: flex;
    align-items: center;
    vertical-align: middle;
}

.wrapper .app-section #midia-social-rodape img {
    display: flex;
    width: 90%;
    height: auto;
}

#midia-social-rodape {
    display: flex;
    align-items: center;
    gap: 13px;
    margin-right: 10px;
    padding-top: 15px;

}

.links-footer {
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;

}

.links-footer h3 {
    color: #FFF;
    font-family: "inter", sans-serif;
    font-size: 22px;
    font-style: normal;
    font-weight: 600;
    line-height: 100%;
    /* 22px */
    letter-spacing: 1.1px;
    text-transform: uppercase;
}

.links-footer ul li a {
    color: white;
    font-family: "inter", sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 100%;
    /* 14px */
    text-decoration: none;
}

.links-footer ul li {
    margin-bottom: 20px;
}

.contatos-footer h3 {
    color: #FFF;
    font-family: "inter", sans-serif;
    font-size: 22px;
    font-style: normal;
    font-weight: 600;
    line-height: 100%;
    /* 22px */
    letter-spacing: 1.1px;
    text-transform: uppercase;
}

.contatos-footer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.contatos-footer ul li {
    display: flex;
    align-items: center;
    gap: 20px;
}

.contatos-footer ul li img {
    height: auto;
    width: 30ps;
}

.contatos-footer ul li p {
    color: #D0D0D0;

    font-family: "inter", sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 100%;
    /* 14px */
}